<!doctype html>
<html lang="en">
<head>
    <title>Auth | {% block title %}{% endblock %}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,900&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
          rel="stylesheet">
    <link rel="stylesheet" href="/resources/auth/css/style.css">
    <style>
        * {
            font-family: 'Poppins', sans-serif;
        }

        .nav-link {
            color: rgba(0, 0, 0, 0.5);
            font-size: 9pt;
        }

        .navbar-light .navbar-nav .nav-link {
            color: rgba(0, 0, 0, 0.5);
            font-size: 9pt;
        }
    </style>

</head>
<body>
{% block auth_container %}{% endblock %}


{% block main %}

{% endblock %}

<script src="/resources/auth/js/jquery.min.js"></script>
<script src="/resources/auth/js/popper.js"></script>
<script src="/resources/auth/js/bootstrap.min.js"></script>
<script src="/resources/auth/js/main.js"></script>

</body>
</html>

